// Define variables for your color scheme
$light-gray: #F4F4F4;
$pink: #ED5F7B;
$dark-blue: #3C535F;

$pastel-green: #8FCCB9;
$pastel-mint: #44ADC7;
$pastel-blue: #287CAD;
$pastel-light-blue: #6C9CC6;

$pastel-pink: #dec5e3;
$pastel-white: #F6F4F6;
$pastel-black: #404040;
