<div class="navbar navbar-portfolio">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "#", class: "nav-link mr-5" do %>
            Home
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#about", class: "nav-link mr-5" do %>
            About
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#projects", class: "nav-link mr-5" do %>
            Projects
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "#contact", class: "nav-link" do %>
            Contact
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
