<div class="margin-top10 py-5" id="about">

  <div class="container-fluid">
    <div class="title-dot row align-items-center">
      <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left" id="dots-green">
      </div>
      <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center text-green">About</h1>
      <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left" id="dots-green">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-box d-flex">
      <div class="row text-center justify-content-between p-mobile">

        <div class="col-md-8 col-sm-12">
          <div data-aos="fade-down-left" data-aos-duration="1000">
            <p>Tech-savvy with a business background, I’ve spend the last 6 months on combining my full time job with a web development coding bootcamp at <span class="outline text-green bigger">Le Wagon</span>.</p>
            <p>I do not give up easily. Committing most of my evenings (loong evenings!) and weekends, with a <span class="outline text-green bigger">smile</span> on my face, I’ve not only learnt to code but also how to manage my time efficiently, prioritise tasks and excelled multitasking! I understand and can build tools that solve real life problems. It makes me super happy! </p>
            <p>I love to travel. Currently based in <span class="outline text-green bigger">Barcelona</span>, Spain but I’ve been living in 5 different countries, always pushing for new challenges.</p>
          </div>
        </div>

        <div data-aos="zoom-in" data-aos-duration="1500" class="col-md-3 col-sm-10 mr-1">
          <%= render 'pages/mrt-icon' %>

        </div>
      </div>
    </div>
  </div>
</div>

