<div class="banner">
  <div class="rellax" data-rellax-speed="-3">
    <h1> <span id="banner-typed-text"></span> </h1>
    <h3 class="fade-in mt-4">always smiling <br>full stack web developer</h3>
  </div>
</div>
