<div class="container-fluid margin-top10">
  <div class="title-dot row align-items-center">
    <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left">
    </div>
    <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center">Contact</h1>
    <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
      <hr class="dots animate animate-left">
    </div>
  </div>
</div>


<div class="container">
  <div class="section-box">
    <div class="row text-center justify-content-between">

      <div class="col-sm-12 col-md-10 mx-auto">
        <div data-aos="zoom-in" data-aos-duration="1000">
          <p class="mb-1">Interested in working together? If there's any project you want to get started, think you may need my help or just want to say hi.. feel free to get in touch! </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="cover-bg container-fluid">

    <div class="col-sm-12">

      <form action="https://formspree.io/f/xleoozkn" method="POST" id="contact-form" data-aos="zoom-in" data-aos-duration="1500"  data-aos-delay="300">
        <div class="form-row justify-content-around">

          <div class="form-group col-md-5 col-sm-12">
            <input type="text"  class="form-control" id="name" placeholder="Name">
          </div>
          <div class="form-group col-md-7 col-sm-12">
            <input type="email" name="_replyto" class="form-control" id="email" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleFormControlTextarea1">Your message</label> -->
          <textarea name="message" class="form-control" id="message" rows="3" placeholder="Hey Martyna.."></textarea>
        </div>
        <button type="submit" class="btn btn-pink">Get in touch</button>
      </form>
    </div>


    <div class="footer-social-media">

        <div class="justify-content-end background-cover">
          <p class="color-p">Coded with ❤️ by Martyna</p>
          <div class="">
            <%= link_to "https://www.linkedin.com/in/markiel/", target: "_blank", class: "margin-between" do %>
              <i class="fab fa-linkedin-in fa-2x"></i>
            <% end %>

            <%= link_to "mailto:martyna.markiel@gmail.com", target: "_blank", class: "margin-between" do %>
              <i class="fas fa-at fa-2x"></i>
            <% end %>

            <%= link_to "https://github.com/mrtn-a/", target: "_blank", class: "margin-between" do %>
              <i class="fab fa-github fa-2x"></i>
            <% end %>

          </div>

        </div>
    </div>

</div>



<!--    <div data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="100">
          <%= image_tag('contact-me.png', class: "image-align") %>
        </div> -->
