<!-- <div class="projects">

  <div class="cover"></div>

  <div class="straight"> -->

<div class="footer">
  <div class="justify-content-end background-cover ">

    <div class="mb-3">
      <%= link_to "https://www.linkedin.com/in/markiel/", target: "_blank", class: "margin-between" do %>
        <i class="fab fa-linkedin-in fa-3x"></i>
      <% end %>

      <%= link_to "https://github.com/mrtn-a/", target: "_blank" do %>
        <i class="fab fa-github fa-3x"></i>
      <% end %>

    </div>

  </div>

</div>

<!--   </div>
</div> -->
