<!-- <div class="projects">

  <div class="cover"></div>

  <div class="straight"> -->

<div class="margin-top10 top-border">
  <p class="text-center my-5">Handcrafted by Martyna</p>
</div>

<!--   </div>
</div> -->
