<div class="intro-page">
  <div class="col sqs-col-12 span-12">
    <h2 class="fade-in intro">Every <span class="outline">coder</span> has a journey.</h2>
    <h3 class="fade-in intro">This is <span class="outline">mine</span>.</h3>
  </div>
</div>

