<!-- <div class="bg-triangle margin-top10">
 -->
  <div class="container-fluid margin-top10">
    <div class="title-dot row align-items-center">
      <div data-aos="fade-right" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left">
      </div>
      <h1 data-aos="zoom-in" data-aos-duration="1000" class="col-md-4 col-sm-6 text-center">Projects</h1>
      <div data-aos="fade-left" data-aos-duration="1000" class="col-md-4 col-sm-3">
        <hr class="dots animate animate-left">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section-box d-flex">
      <div class="row text-center justify-content-between">

        <div data-aos="zoom-in" data-aos-duration="1500" class="col-md-4 col-sm-10">
          <%= image_tag('laptop-plant.svg', class: "image-align") %>
        </div>

        <div class="col-md-8 col-sm-8">
          <div data-aos="fade-down-left" data-aos-duration="1000">

            <p>Always excited by the latest tech ideas, working in ad tech company for the last 4 years, I fell in love with the idea and opportunity to challenge myself on the other side of the screen. Graduated from a coding bootcamp I find it really satisfying to be able to build something.</p>
            <p>Coding adheres to no limitations. I code because I believe in learning by doing. </p>
            <p>My current stack: <br>
            Ruby on Rails, Javascript ES6, HTML5, CSS, MySQL</p>
         </div>
        </div>

        <div class="col-md-8 col-sm-8">
            <p>Here's a selection of some recent work. I've done these projects to sharpen my skills. For more recent work, you can visit my Github profile.
        </div>

        <%= render 'pages/carousel' %>


      </div>
    </div>
  </div>
<!-- </div>
 -->
