<%= render 'pages/banner' %>
<%= render 'pages/about' %>
<%= render 'pages/projects' %>
<%= render 'pages/contact' %>

<div class="wrapper-color-gray-presentation rellax" data-rellax-speed="-3"></div>

