<%= render 'pages/banner' %>
<%= render 'pages/about' %>
<%= render 'pages/projects' %>

<!-- <div class="wrapper-gold rellax" data-rellax-speed="-2"></div> -->
<!--  <%= image_tag('idea.png', size: "300x270", class: "img-shadow") %> -->
