.triangle-right {
  background: linear-gradient(165deg, rgba(255,255,255,0.5592612044817927) 74%, rgba(137,137,138,0.665703781512605) 100%);
  width: 300px;
  height: 300px;
  top: -15%;
  left: -10%;
  position: absolute;
  transform: rotate(-270deg);
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.bg {
  background: linear-gradient(rgba(251,251,255,.95), rgba(251,251,255,.95)), url(bg-black.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;

}

.bg-slider {
  background: url('gray-slider.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
}

.section-box {
  margin-top: 3rem;
  // height: 100vh;
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: justify;
  }
}

.margin-top10 {
  margin-top: 5rem;
}

.wrapper-color-gray-presentation {
    position: absolute;
    top: 120%;
    height: 50%;
    width: 25%;
    // background-color: transparent;
    right: 25%;
    // border: 4px dotted #30475e30;
    background:  url(dots.png);
    opacity: 0.08;

  }



//

.projects {
  width: 100%;
  height: 80vh;
  background-color: $pink;
  position: relative;
  text-align: center;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: white;
  transform: skewY(-5deg);
}


.straight {
    // transform: skewY(0deg);
  width: 100%;
  height: 50%;
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 0;
}

// .contact-title {
//     position: absolute;
//   top: 5%;
//   left: 44%;
// }


// .contact-container{
//   width: 100%;
//   height: 50%;
//   z-index: 1;
//   position: absolute;
//   top: 27%;
//   left: 0;
// }
// .contact{
//   width: 30%;
//   height: 100%;
//   padding: 0px 20px;
//   display: inline-block;
//   text-align: center;
// }


// .title {
//   top: 5%;
//     z-index: -1;

// }



// .wrapper-gold {
//   background: linear-gradient(165deg, rgba(255,255,255,0.5592612044817927) 74%, rgba(137,137,138,0.665703781512605) 100%);
//   width: 300px;
//   height: 300px;
//   z-index: 0;
//   position: absolute;
//   transform: rotate(-270deg);
//   clip-path: polygon(50% 0, 0 100%, 100% 100%);
// }

