.banner {
  background-image: url('banner-martyna.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 40vh;
  background-repeat: no-repeat;
  position: relative;
  filter: grayscale(0.2);
  h1 {
    color: #192D4F;
  }
}
