.form-control {
  border: none;
  border-bottom: 1px solid #888;
  border-radius: 0;
  margin: 0 auto;
  background-color: #FBFBFF
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 0 0 0.2rem $pastel-green;
  background-color: #FBFBFF;
  border-radius: 4px;
}

#contact-form {
  width: 80%;
  height: auto;
  margin: 0 auto;
  border: 8px dotted $pastel-green;;
  border-radius: 12px;
  padding: 2rem;
  background-color: #FBFBFF;
  margin-top: -12rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

.btn-contact {
  font-size: 1.3rem;
  background-color: $pastel-mint;
  color: #FBFBFF;
  border-radius: 12px;
  font-family: $bold-text-font;
}
.btn:hover {
  animation: color-change 5s infinite;
  color: #FBFBFF;
}

@keyframes color-change {
  0% { background-color: $pastel-mint; }
  25% { background-color: $pastel-green; }
  100% { background-color: $pastel-mint; }
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem $pastel-green;
}

.cover-bg {
  width: 100%;
  height: 65vh;
  background-color: $pastel-green;
  position: relative;
  text-align: center;
  padding: 5rem;
  margin-top: 12rem;
}


// small screen
@media only screen and (max-width: 768px) {
  .cover-bg {
    width: 100%;
    height: 44vh;
    background-color: $pastel-green;
    padding: 1rem;
    margin-top: 10rem;
  }

  #contact-form {
    width: 100%;
    border: 8px dotted $pastel-green;
    border-radius: 12px;
    padding: 2rem;
    background-color: #FBFBFF;
    margin-top: -8rem;
  }
}
