.title {
  // margin-top: -4rem;
  // background-image: url('img.png');
  // background-repeat: no-repeat;
  // background-position: center;
  // position: relative;
  // width: 300px;
  // height: 200px;
  // background-size: contain;
  // display: flex;
  // justify-content: center;
  // // margin-bottom: -20%;
  h1 {
    color: $pink;
    font-family: $banner-curly-font;
    margin-right: 42px;
    margin-left: 30px;
  }
}


hr.dots {
    border: none;
    border-top: 4px dotted #333!important;
    height: 4px;
    background: 0 0!important;
}

.title-dot {
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
      h1 {
    color: $pink;
    font-family: $banner-curly-font;
  }
}

// .border-round {
//   border: 2px solid #ED5F7B;
//     padding: 0 18px 0 18px;
//   margin-right: 0.6rem;
//   border-radius: 24px;
//   display: inline-block;
// }
