.title {
  h1 {
    color: $pink;
    // font-family: $main-text-font;
    margin-right: 42px;
    margin-left: 30px;
  }
}

hr.dots {
    border: none;
    height: 4px;
    background: 0 0!important;
}

#dots-green {
  border-top: 8px dotted $pastel-green!important;
}

#dots-blue {
  border-top: 8px dotted $pastel-light-blue !important;
}

#dots-mint {
  border-top: 8px dotted $pastel-mint!important;
}

.text-green {
  color: $pastel-green;
}

.text-blue {
  color: $pastel-light-blue;
}

.text-mint {
  color: $pastel-mint;
}

.title-dot {
  max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;

  h1 {
    font-family: $bold-text-font;
  }
}


.outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  font-family: $bold-text-font;
}

.bigger {
  font-size: 2rem;
  font-family: $bold-text-font;
}

.size-3 {
  font-size: 3.5rem;
  font-family: $bold-text-font;
}

#stack p {
  font-size: 0.8rem;
}

#link-animation:hover {
  animation: text-change 3s infinite;
}


@keyframes text-change {
  0% { color: $pastel-mint; }
  50% { color: $pastel-green; }
  100% { color: $pastel-mint; }
}
// small screen
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem !important;
  }

  .size-3 {
    font-size: 3rem;
    font-family: $bold-text-font;
  }
}

