.footer-social-media {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  margin-top: 6rem;
}

.footer {
  justify-content: center;
  align-items: flex-end;
  display: flex;
  background-image: url('bg-main-flip.png');
  background-size: cover;
  height: 46vh;
  text-align: center;
  background-repeat: no-repeat;
  position: relative;
  filter: grayscale(0.2);
  z-index: 0;
  margin-top: -6rem;
}

i {
  color: #FBFBFF;
  font-size: 2rem;
  transition: transform .5s;

  &:hover {
    color: white;
    transform: scale(1.3)
  }
}

.color-p {
  color: white;
}

.margin-between {
  margin: 0 0.8rem;
}

.background-cover {
  z-index: 1;
}


// small screen
@media only screen and (max-width: 768px) {
  .footer {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    background-image: url('bg-main-small-flip.png');
    background-position: initial;
    background-size: contain;
    height: 64vh;
  }

  .color-p {
    color: $dark-blue;
  }

  .footer-social-media {
    margin-top: 11rem;
  }

  i {
    color: $dark-blue;
    font-size: 2rem;
    transition: transform .5s;

    &:hover {
      color: $dark-blue;
      transform: scale(1.3)
    }
  }
}
