.image-align {
  width: 80%;
  height: auto;
  object-fit: cover;
  flex: 1 0 25%;
}

.img-device {
  width: 95%;
}

.img-device-flex {
  width: 90%;
}

.rotate {
  transform: scale(1.1) rotate(10deg);
}

.small-rotate {
  transform: rotate(-5deg);
  margin-top: -1rem;
}

