.image-align {
  width: 80%;
  height: auto;
  object-fit: cover;
  flex: 1 0 25%;
}

.small-image {
  height: 60px;
  width: auto;
  object-fit: cover;
  margin-bottom: 1rem;
  filter: grayscale(90%);
}
