// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "device-img";
@import "background";
@import "fonts";
@import "animations";
@import "image";

html, body{
  display: block;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
}
