// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "background";
@import "fonts";
@import "animations";
@import "image";
@import "carousel";
@import "contact-form";

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: $pink;
}
