@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "background";
@import "fonts";
@import "animations";
@import "image";
@import "carousel";
@import "contact-form";
@import "footer";
@import "intro";

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: $pastel-mint;
}
